body {
	margin: 0px; 
	margin-top: 0px; 
	padding: 0; 
	background-color: #27251F; 
	margin: auto;
	font-family: "Arial", Arial, serif; 
	color: #D9D9D6;
}

hr {width: 45%;}

img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a{color: #6CACE4; text-decoration: none; }
a:visited {color: #307FE2;}
a:focus {color: #B5BD00; filter: brightness(70%);}
a:hover {color: #B5BD00; filter: brightness(70%);}
a:active {color: #737B4C; filter: brightness(110%);}

.header {
	font-size: 150px; 
	text-align: center;
}

.header a{
	text-decoration: none; 
	color: #D9D9D6;
}


.index {
	margin-left: 8%;
	margin-right: 8%;
}

.index h1 {
	font-size: 40px;
	text-align: center;
}

.index h2 {
	font-size: 30px;
	text-align: left;
	font-weight: normal;
}

.index p {
	font-size: 25px; 
	margin-left: 6%;
	margin-right: 6%;
}

.index a {
	font-size: 30px; 
	text-decoration: none;
	color: #6CACE4; 
	text-align: left; 
	text-indent: 2em; 
	margin-left: 8%;
}
.index a:visited {color: #307FE2;}
.index a:focus {color: #B5BD00; filter: brightness(70%);}
.index a:hover {color: #B5BD00; filter: brightness(70%);}
.index a:active {color: #737B4C; filter: brightness(110%);}

.textBox {
	line-height: 26px;
}

.textBox h2 {
	font-size: 40px;
	color: #D9D9D6;
	text-align: center;
}

.textBox p {
	font-size: 25px; 
	color: #D9D9D6; 
	text-align: left; 
	margin-left: 5%;
	margin-right: 5%;
	line-height: 36px;
}

.textBox table {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 800px;
}

.textBox th {
	font-size: 35px;
	line-height: 35px;
	color: #D9D9D6;
	text-align: center;
	width: 400px;
	height: 40px
}

.textBox td {
	width: 400px;
}

.radioPlayer {
	margin-left: 8%;
	margin-right: 8%;
}

.radioPlayer h1 {
	font-size: 40px;
	text-align: center;
}

.radioPlayer h2 {
	font-size: 30px;
	text-align: left;
	font-weight: normal;
}

.radioPlayer p {
	font-size: 25px; 
	margin-left: 6%;
	margin-right: 6%;
}

.radioPlayer a {
	font-size: 30px; 
	text-decoration: none;
	color: #6CACE4; 
	text-align: left; 
	text-indent: 2em; 
	margin-left: 8%;
}
.radioPlayer a:visited {color: #307FE2;}
.radioPlayer a:focus {color: #B5BD00; filter: brightness(70%);}
.radioPlayer a:hover {color: #B5BD00; filter: brightness(70%);}
.radioPlayer a:active {color: #737B4C; filter: brightness(110%);}

.radioPlayerSettings {
	margin-left: 8%;
	margin-right: 8%;
}

.radioPlayerSettings h1 {
	font-size: 40px;
	text-align: center;
}

.radioPlayerSettings h2 {
	font-size: 30px;
	text-align: left;
	font-weight: normal;
}

.radioPlayerSettings p {
	font-size: 25px; 
	margin-left: 6%;
	margin-right: 6%;
}

.radioPlayerSettings a {
	font-size: 30px; 
	text-decoration: none;
	color: #6CACE4; 
	text-align: left; 
	text-indent: 2em; 
	margin-left: 8%;
}
.radioPlayerSettings a:visited {color: #307FE2;}
.radioPlayerSettings a:focus {color: #B5BD00; filter: brightness(70%);}
.radioPlayerSettings a:hover {color: #B5BD00; filter: brightness(70%);}
.radioPlayerSettings a:active {color: #737B4C; filter: brightness(110%);}


@media screen and (max-width: 800px) {
	.header { 
		font-size: 15vw;
		line-height: 18vw;
	}
	
	.index {
		margin-left: 4%;
		margin-right: 4%;
	}
	
	.index h1 {
		font-size: 8vw;
	}
	
	.index h2 {
		font-size: 6vw;
	}
	
	.index p {
		font-size: 5.5vw;  
		margin-left: 4vw;
		margin-right: 4vw;
	}
	
	.index a {
		line-height: 6vw;
		font-size: 6vw; 
		text-indent: 2vw; 
		margin-left: 0vw;
	}
	
	.textBox {
		line-height: 8vw;
	}
		
	.textBox h2 {
		font-size: 8vw;
	}
	
	.textBox p {
		line-height: 8vw;
		font-size: 5.5vw;  
		margin-left: 2vw;
		margin-right: 2vw;
	}
	
	.textBox table {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}
	
	.textBox th {
		font-size: 7vw;
		line-height: 7vw;
		height: 100%;
	}
}