body {
	margin-top: 0px; 
	padding: 0; 
	background-color: #27251F; 
	margin: auto;
	font-family: "Arial", Arial, sans-serif; 
	color: #D9D9D6;
	max-width: 900px;
}

hr {
	width: 88%;
}

img {
	max-width: 84%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 4px;
	margin-bottom: 20px;
	max-height: 600px;
}

h1 {
	font-size: 32px;
	text-align: center;
	line-height: 36px;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4%;
	margin-right: 4%;	
}

p {
	font-size: 24px; 
	text-align: justify;
	line-height: 36px;
	margin-top: 4px;
	margin-bottom: 24px;
	margin-left: 4%;
	margin-right: 4%;
}

blockquote {
	font-size: 24px;
	line-height: 36px;
	margin-left: 12%;
	margin-right: 12%;
}

table {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 88%;
}

th {
	font-size: 28px;
	line-height: 36px;
	color: #D9D9D6;
	text-align: center;
	width: 50%;
}

td {
	width: 50%;
	line-height: 36px;
	text-align: left;
	font-size: 24px; 
	padding-top: 4px;
	padding-bottom: 24px;
}

dl {
	margin-top: 4px;
	margin-left: 4%;
	margin-right: 4%;
}

dt {
	font-size: 24px; 
	text-align: justify;	
}

input[type=text] {
	width: 76%;
	display:block;
	margin: 0 auto;
	padding: 8px 4%;
	font-size: 24px; 
	background-color: #D9D9D6;
	color: #27251F;
	outline: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border: 2px solid #27251F;
}

input[type=text]:focus {
	background-color: #B5BD00;
	border: 2px solid #737B4C;
}

a{color: #6CACE4; text-decoration: none; font-weight: normal;}
a:visited {color: #307FE2;}
a:focus {color: #B5BD00; filter: brightness(70%);}
a:hover {color: #B5BD00; filter: brightness(70%);}
a:active {color: #737B4C; filter: brightness(110%);}

textarea {
	resize: none;
	width: 76%;
	display:block;
	margin: 0 auto;
	padding: 8px 4%;
	background-color: #D9D9D6;
	color: #27251F;
	outline: none;
	border: 2px solid #27251F;
}

table.cv {
	width: 90%;
}

table.cv td {
	width: initial;
	text-align: left;
	vertical-align: top;
	padding-bottom: 25px;
}

ul {
	font-size: 24px;
	text-align: justify;	
	margin-left: 2%;
	margin-right: 0%;
}




.publicationText {
	margin-left: 4%;
	margin-right: 4%;
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}

.publicationText p {
	font-size: 24px;
	text-indent: 8%;
}

.publicationText h1 {
	font-size: 28px;
	text-align: center;
	margin-bottom: 16px;
	margin-left: 4%;
	margin-right: 4%;
}

.publicationText h2 {
	margin-bottom: 16px;
}

.folioContent {
	padding-bottom: 20px;
}

.folioContentTags {
	display: none;
}






.header {
	font-size: 100px; 
	text-align: center;
}

.header a{
	text-decoration: none; 
	color: #D9D9D6;
}

.index li {
	font-size: 25px; 
	margin-left: 12%;
	margin-right: 12%;
}	

.index a {
	text-decoration: none;
	color: #6CACE4; 
}
.index a:visited {color: #307FE2;}
.index a:focus {color: #B5BD00; filter: brightness(70%);}
.index a:hover {color: #B5BD00; filter: brightness(70%);}
.index a:active {color: #737B4C; filter: brightness(110%);}









.textBox table {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 800px;
}

.textBox th {
	font-size: 35px;
	line-height: 35px;
	color: #D9D9D6;
	text-align: center;
	width: 400px;
	height: 40px
}

.textBox td {
	width: 400px;
}
	
.art {
	margin-left: 8%;
	margin-right: 8%;
}
	
.art h1 {
	font-size: 30px;
	text-align: center;
}

.art img {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 100%;
	height: auto;
}
	
.publicationDescription {
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 36px;
	text-align: justify;
}

.publicationDescription blockquote {
	font-family: "Times New Roman", Times, serif; 
}

.publicationDescription img {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 90%;
	height: auto;
}


.essayDescription {
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 36px;
	text-align: justify;
}

.essayDescription blockquote {
	font-family: "Times New Roman", Times, serif; 
}

.essayDescription img {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 90%;
	height: auto;
}

.essayText {
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 40px;
	font-family: "Times New Roman", Times, serif; 
}

.essayText h2 {
	text-align: center;
	font-weight: normal;
	line-height: 50px;
}

.essayText p {
	text-indent: 50px;
	text-align: justify;
}

.cv {
	font-size: 25px;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 36px;
	text-align: justify;
}



.FRZYDOOMindex {
	margin-left: 8%;
	margin-right: 8%;
}

.FRZYDOOMindex h1 {
	font-size: 40px;
	text-align: center;
}

.FRZYDOOMindex h2 {
	font-size: 30px; 
	text-decoration: none;
	text-align: left; 
	margin-left: 6%;
}

.FRZYDOOMindex p {
	font-size: 25px; 
	margin-left: 8%;
	margin-right: 8%;
}

.FRZYDOOMindex ul {
	list-style: none;
	font-size: 25px; 
	margin-left: 8%;
	margin-right: 8%;
}

.FRZYDOOMindex ol {
	list-style-position: inside;
	list-style: square;
	font-size: 25px; 
	margin-left: 4%;
	margin-right: 4%;
}


@media screen and (max-width: 800px) {
	.header { 
		font-size: 15vw;
		line-height: 18vw;
	}
	
	.index {
		margin-left: 4%;
		margin-right: 4%;
	}
	
	.index h1 {
		font-size: 8vw;
	}
	
	.index h2 {
		font-size: 6vw;
	}
	
	.index p {
		font-size: 5.5vw;  
		margin-left: 4vw;
		margin-right: 4vw;
	}
	
	.index a {
		line-height: 6vw;
		font-size: 6vw; 
		text-indent: 2vw; 
		margin-left: 0vw;
	}
	
	.textBox {
		line-height: 8vw;
	}
		
	.textBox h2 {
		font-size: 8vw;
	}
	
	.textBox p {
		line-height: 8vw;
		font-size: 5.5vw;  
		margin-left: 2vw;
		margin-right: 2vw;
	}
	
	.textBox table {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}
	
	.textBox th {
		font-size: 7vw;
		line-height: 7vw;
		height: 100%;
	}
	
	.art h1 {
		font-size: 5vw;
		text-align: center;
	}
}