body {
	margin: 0px; 
	margin-top: 0px; 
	padding: 0; 
	background-color: #27251F; 
	margin: auto;
	font-family: "Courier New", Courier, monospace;
	color: #D9D9D6;
	font-size: 4vh;
}

.widthCalculator {
    position: absolute;
	font-family: "Courier New", Courier, monospace;
    height: auto;
    width: auto;
	visibility: hidden;
}

.terminal {
	position: relative;
	left: 0px;
	top: 0px;
	height: 90vh;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: blue;
}

.currentDirectory {
	position: absolute;
	width: auto;
	height: 4vh;
}

.userInput {
	position: absolute;
	top: 0px;	
	left: 0px;
	width: 50vw;
	height: 4vh;
	
	font-family: "Courier New", Courier, monospace;
	font-size: 4vh;
	background-color: red;
	border: none;
}

.terminalOutput {
	width: 90vw;
	height: 85vh;
	background-color: red;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 2vh;
	}
	
	.userInput {	
		position: relative;
		height: 2vh;
		font-size: 2vh;
	}
}