body {
	margin: 0px; 
	margin-top: 0px; 
	padding: 0; 
	background-color: #D9D9D6; 
	margin: auto;
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Times New Roman", Times, serif; 
	color: #27251F;
}

hr {width: 45%;}

a{color: #6CACE4; text-decoration: none; }
a:visited {color: #307FE2;}
a:focus {color: #B5BD00; filter: brightness(70%);}
a:hover {color: #B5BD00; filter: brightness(70%);}
a:active {color: #737B4C; filter: brightness(110%);}