body {margin: 0%; margin-top: 0%; padding: 0; background-color: #27251F; }
hr {width: 100%; color: #27251F}

a {	outline: none;}

a:focus {filter: brightness(70%);}
a:hover {filter: brightness(120%);}
a:active {filter: brightness(80%);}

button {outline: none;}
button:focus {filter: brightness(70%) ;outline: none;}
button:hover {filter: brightness(120%) ;outline: none;}
button:active {filter: brightness(80%) ;outline: none;}
button::-moz-focus-inner {border: 0;}

.topLogo {
	text-align: center;
	width: auto;
}

.topDisplay img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.returnButtonContainer {
	width: auto;
	position: relative;
	text-align: center;
}

.returnButton {
	position: absolute;
	top: 0vw;
	left: 20%;
	width: 23.5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.returnButton img{
	width: 100%;
	height: 100%;
}

.bottomDisplay {
	font-family: "arial", Helvetica, sans-serif; 
	font-size: 50px; 
	color: #D9D9D6;
	text-align: center;
}

.bottomDisplay img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.indexButtonContainer {
	width: auto;
	position: relative;
	text-align: center;
}

.indexButton {
	position: absolute;
	top: 0vw;
	left: 20%;
	width: 23.5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.indexButton img{
	width: 100%;
	height: 100%;
}

.folioButtons {
	margin-left: 10%;
	width: 8.35%;
	font-size: 2vw;
    float:left; 
}

.folioButtons img {
	width: 100%;
}

.button {
	background-color: #B5BD00;
	border: none;
	color: #27251F;
	width: 100%;
	font-size: 1.3vw;
	padding: 0.5vw;
	right: 0px;
}

.button p {
	text-align: right;
	line-height: 0.001vw;
	margin: 0px;
	padding-top: 0.6vw;
	padding-bottom: 0.4vw;
}

.folioList {
	background-color: red;
	margin-right: 18.35%;
    overflow: hidden;
}

//.folioContentGroup {
	display: none;
}

//.folioContentTags {
	display: none;
}



